*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

.bordeRojo{
    border: 3px solid red;
}
.bordeVerde{
    border: 3px solid greenyellow;
}

/*sacar cosas*/
.sinItem{
    list-style: none;
}
.sinBorde{
    border: none;
}

/*fondos*/
.fondoNegro{
    background-color: rgb(19, 19, 19);
}
.fondoBlanco{
    background-color: white;
}
.fondoTransparente{
    background-color: #ffffff00;
}

/*colores*/
.blanco{
    color: white;
}
.grisClaro{
    color: rgb(192, 192, 192);
}
.negro{
    color: black;
}

/*bordes*/
.bordeRedondo{
    border-radius: 25px;
}

/*texto*/
.fuente{
    font-family: "DM Sans", sans-serif;
}
h1{
    font-size: 5em;
    font-weight: 300;
}
.textCenter{
    text-align: center;
}

/*acomodar*/
.df{
    display: flex;
}
.columna{
    flex-direction: column;
}
.centerX{
    justify-content: center;
}
.centerY{
    align-items: center;
}
.spaceb{
    justify-content: space-between;
}
.spacea{
    justify-content: space-around;
}
.spacee{
    justify-content: space-evenly;
}
.objCover{
    object-fit: cover;
}
.fitContent{
    width: fit-content;
}
.posAb{
    position: absolute;
}
.posRel{
    position: relative;
}

/*alturas*/
.h100{
    height: 100%;
}
.h90{
    height: 90%;
}
.h50{
    height: 50%;
}

.vh100{
    min-height: 100vh;
}
.vh90{
    min-height: 90vh;
}
.vh70{
    height: 70vh;
}
.vh60{
    height: 60vh;
}
.vh50{
    height: 50vh;
}
.vh40{
    height: 40vh;
}
.vh30{
    height: 30vh;
}
.vh25{
    height: 25vh;
}
.vh10{
    height: 10vh;
}

/*anchos*/
.w100{
    width: 100%;
}
.w90{
    width: 90%;
}
.w80{
    width: 80%;
}
.w70{
    width: 70%;
}
.w60{
    width: 60%;
}
.w50{
    width: 50%;
}
.w40{
    width: 40%;
}
.w30{
    width: 30%;
}
.w20{
    width: 20%;
}
.w10{
    width: 10%;
}

/*visibilidad*/
.invisible{
    display: none;
}
.visible{
    display: block;
}

@media (max-width: 960px){

        .bordeVerde{
            border: 3px solid greenyellow;
        }

        .visibleT{
            display: block;
        }
        .invisibleT{
            display: none;
        }

        /*menu hamburguesa - se puede resumir desp con clases utiles*/

        #abrir-menu, #cerrar-menu{
            display: block;           
        }

        #abrir-menu{
            font-size: 1.3em;
        }

        #cerrar-menu{
            font-size: 1em;
        }
    
        #nav{
            opacity: 0;
            visibility: hidden;
    
            height: 100vh;
            width: 30%;
            background-color: rgb(255, 255, 255);
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 1em;
            top: 0;
            right: 0;
            padding: 3em;
            box-shadow: 0 0 0 100vmax rgba(0,0,0,0.7);
        }
    
        #nav.visible{
            opacity: 1;
            visibility: visible;
        }
    
        #nav-list{
            height: 20vh;
            flex-direction: column;
            align-items: end;
        }

        #nav-list li a{
            color: black;
        }

}

@media (max-width: 480px){
    #nav{
        width: 50%;
    }

    .w100m{
        width: 100%;
    }
    .w90m{
        width: 90%;
    }
    .w80m{
        width: 80%;
    }
    .w70m{
        width: 70%;
    }

    .vh100m{
        min-height: 100vh;
    }
    .vh80m{
        min-height: 80vh;
    }
    .vh70m{
        min-height: 70vh;
    }
    .vh60m{
        height: 60vh;
    }
    .vh30m{
        height: 30vh;
    }

    .dfm{
        display: flex;
    }
    .columnaM{
        flex-direction: column;
    }
    .spaceaM{
        justify-content: space-around;
    }
    .spacebM{
        justify-content: space-between;
    }

}
